@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

// LAYOUT
@import "./Layout/Header", "./Layout/HeaderCartButton";

// MEAL
@import "./Meal/Meals", "./Meal/MealsSummary", "./Meal/AvailableMeals",
  "./Meal/MealItem.scss";

//UI
@import "./UI/Card";
